.section-1:hover .textfirstcolumn {
  animation: firstcolumn 3s 1s linear;
}

.section-1:hover .textsecondcolumn {
  animation: secondcolumn 3s 1s linear;
}

@keyframes firstcolumn {
  0% {left: 0; opacity: 100%;}
  100% {left: 30%; opacity: 0%;}
}

@keyframes secondcolumn {
  0% {right: 0; opacity: 100%;}
  100% {right: 30%; opacity: 0%;}
}

.firstlefthuman {
  animation: firstlefthuman 3s linear forwards;
}

@keyframes firstlefthuman {
  0% {left: -10%;}
  100% {left: 11.8750vw;}
}

.secondlefthuman {
  animation: secondlefthuman 3s linear forwards;
}

@keyframes secondlefthuman {
  0% {left: -10%;}
  100% {left: 5.6771vw;}
}

.thirdlefthuman {
  animation: thirdlefthuman 3s linear forwards;
}

@keyframes thirdlefthuman {
  0% {left: -10%;}
  100% {left: 11.8750vw;}
}

.firstrighthuman{
  animation: firstrighthuman 3s linear forwards;
}

@keyframes firstrighthuman {
  0% {right: -10%;}
  100% {right: 11.8750vw;}
}

.secondrighthuman {
  animation: secondrighthuman 3s linear forwards;
}

@keyframes secondrighthuman {
  0% {right: -10%;}
  100% {right: 5.6771vw;}
}

.thirdrighthuman {
  animation: thirdrighthuman 3s linear forwards;
}

@keyframes thirdrighthuman {
  0% {right:-10%;}
  100% {right: 11.8750vw;}
}

.Sline1, .Sline3, .Sline5, .Sline7 {
  position: relative;
  width: 100vw;
}

.Sline1 p, .Sline3 p, .Sline5 p, .Sline7 p  {
  position: relative;
  animation: lineleft 3s linear infinite;
}

@keyframes lineleft {
  0% {transform: translateZ(0);}
  to {transform: translate3d(-100%, 0, 0);}
}

.Sline2, .Sline4, .Sline6 {
  position: relative;
  width: 100vw;
}

.Sline2 p, .Sline4 p, .Sline6 p {
  position: relative;
  animation: lineright 3s linear infinite;
}

@keyframes lineright {
    0% {transform: translate3d(-100%, 0, 0);}
    to {transform: translate3d(0, 0, 0);}
}

.cross1, .cross2, .cross3, .cross4, .cross5 {
  animation: cross 1s steps(3) infinite;
}

@keyframes cross {
  0% {background-image: url(../img/crossfirst.svg);}
  33% {background-image: url(../img/crosssecond.svg);} 
  66% {background-image: url(../img/crossthird.svg);}
  100% {background-image: url(../img/crossfirst.svg);}
}

.section-3:hover .phone1 {
  animation: phoneleft 1.5s linear;
}

@keyframes phoneleft {
  0% {left: -30%;}
  100% {left: 0%;}
}

.phonelight1, .phonelight3 {
  animation: phonelight 0.7s 1.8s steps(2) infinite;
}

.phonelight2, .phonelight4 {
  animation: phonelight 0.7s 2s steps(2) infinite;
}

@keyframes phonelight {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

.section-3:hover .phone2 {
  animation: phoneleft2 1.5s linear;
}

@keyframes phoneleft2 {
  0% {left: -30%;}
  100% {left: 0%;}
}

.section-3:hover .phone3 {
  animation: phoneright 1.5s linear;
}

@keyframes phoneright {
  0% {right: -30%;}
  100% {right: 0%;}
}

.section-3:hover .phone4 {
  animation: phoneright2 1.5s linear;
}

@keyframes phoneright2 {
  0% {right: -30%;}
  100% {right: 0%;}
}

.man {
  animation: man 1s 1.8s steps(2) infinite;
}

@keyframes man {
  0% {background-image: url(../img/man.svg);}
  100% {background-image: url(../img/manlight.svg);}
}

.candlelight {
  animation: candle 3s linear infinite;
}

@keyframes candle {
  0% {opacity: 0;}
  50% {opacity: 100%;}
  100% {opacity: 0;}
}

.section-4:hover .text4 {
  width: 54vw;
  animation: typing 2.2s steps(19), blink .5s step-end infinite alternate;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.search p{
  width: 47.5vw;
  animation: typing 2.2s steps(22), blink .5s step-end infinite alternate;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
}

.firstL:hover .firstmeme{
  opacity: 100%;
}

.secondL:hover .secondmeme{
  opacity: 100%;
}

.thirdL:hover {
  background-color: #ABABAB;
  opacity: 100%;
}

.thirdL:hover .thirdmeme {
  opacity: 100%;
}

.fourthL:hover {
  background-color: #505050;
}

.fourthL:hover .fourthmeme {
  opacity: 100%;
}

.fourthL p:hover {
  color: white;
}

.fifthL:hover {
  color: white;
  background-color: #141414;
}

.fifthL:hover .fifthmeme {
  opacity: 100%;
}

.fifthL p:hover {
  color: white;
}

.sixthL:hover {
  color: white;
  background-color: #000000;
}

.sixthL:hover .sixthmeme {
  opacity: 100%;
}

.sixthL p:hover {
  color: white;
}

.section-6:hover .firstDtext {
  animation: firstD 2s linear;
}

@keyframes firstD {
  0% {left: -50%;}
  100% {left: 0;}
}

.section-6:hover .secondDtext {
  animation: secondD 2s 2s linear forwards;
}

@keyframes secondD {
  0% {right: -50%; opacity: 100%;}
  100% {right: 0; opacity: 100%;}
}