@font-face {
    font-family: "HKGrotesk";
    src: url(../fonts/HKGrotesk-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Epson1";
    src: url(../fonts/Epson1.ttf);
    font-style: normal;
    font-weight: 400;
}